# Nuxt/Vite build outputs
.output
.data
.cache
.nitro
.nuxt
# dist/
build/

# Dependencies
# node_modules/
.pnpm-store/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.DS_Store
.idea/
.fleet/
.vscode/*
!.vscode/settings.json

# Environment files
.env
.env.*
!.env.example

# Deployment/Hosting
.netlify/
.vercel/
