# Nuxt dev/build outputs
# Nuxt/Nitro outputs (sometimes duplicate folders can appear)
.output*
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Workspace trash folders
/.trash-*/

# Misc
.DS_Store
.fleet
.idea
dist

# Local env files
.env
.env.*
!.env.example
