/* Custom Scrollbar */

:root {
  --dark: #181818;
  --light: #6dd3ff;
  --accent: hsl(198, 55%, 50%);
}

::-webkit-scrollbar {
  width: 12px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: var(--dark); /* Dark track */
}

::-webkit-scrollbar-thumb {
  background: var(--accent); /* Light blue scrollbar handle */
  border-radius: 6px; /* Rounded scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent); /* Slightly darker blue on hover */
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--dark);
}

/* Specific styling for scroll containers */
.scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--dark);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 6px;
}

/* Firefox specific styling */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--dark);
}
