/* assets/css/styles.css */

@layer base {
  body {
    @apply bg-slate-950 font-Barlow;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply first:mt-0 last:mb-0 font-[100] font-Barlow leading-normal tracking-wider;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-[1.3rem];
  }
  h3 {
    @apply text-[1.1rem];
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  p,
  ul,
  li,
  ol {
    @apply mb-2 last:mb-0 font-thin text-xl leading-normal tracking-wider;
  }

  h2 + p {
    @apply mb-4;
  }
}

@layer utilities {
  .line-clamp-1 {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
