@layer base {
  body {
    @apply bg-slate-950 font-Barlow;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply first:mt-0 last:mb-0 font-[100] font-Barlow leading-normal tracking-wider;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-[1.3rem];
  }
  h3 {
    @apply text-[1.1rem];
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  p,
  ul,
  li,
  ol {
    @apply mt-0 mb-0 last:mb-0 font-thin text-xl leading-normal tracking-wider;
  }

  h2 + p {
    @apply mb-2;
  }

  /* Global prose overrides for all markdown content */
  .prose h1 {
    @apply font-light text-3xl;
  }
  .prose h2 {
    @apply mt-2 mb-2 font-light text-2xl;
  }
  .prose h2 + h2 {
    @apply mb-4;
  }
  .prose h2 + h2 + hr {
    @apply mb-3;
  }
  .prose img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .prose-base p > img {
    display: block;
    margin: 0 auto 0 !important;
  }
  .prose-base p {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  .prose-base img {
    max-height: 80vh;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@layer utilities {
  .line-clamp-1 {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
