@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,500&display=swap');
@import './layers.css';
@import './tailwind.css';
@import './styles.css';
@import './scrollbar.css';
@import './modal.css';
@import './transitions.css';
@import './lazyLoading.css';

:root {
  --dark: #06304b; /* seagull-900 */
  --medium: #0a81c2; /* seagull-700 */
  --light: #6dd3ff; /* seagull-300 */
  --accent: #09acee; /* seagull-500 */
  /* --accent: hsl(198, 55%, 50%); */
}

/* Avoid transition flickers during first paint */
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}
